
/*  Font: Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

/* Font : Fraunces */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
:root {
 

   /* ### Primary */
  --Dark-cyan: hsl(158, 36%, 37%);
  --Dark-cyan-hover: hsl(158, 80%, 10%);
  --Cream: hsl(30, 38%, 92%);

  /* Other Colors */
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
background-color: var(--Cream);

}


.attribution{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    text-align: center;
}
.attribution a{
    color: var(--Very-dark-blue);
    text-decoration: none;

}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{
    min-width: 600px;
    max-width: 1440px;
    width: 50%;
    /* height: 50%; */
    /* min-height: 300px; */
    margin: 0 auto;
    display: flex;
    background-color: var(--White);
    border-radius: 10px;
    gap: 5px;
}


.left-side{
    width: 50%;
    background-image: url(images/image-product-desktop.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

.right-side{
    /* margin: 5px; */
    padding: 20px;
    width: 50%;
}

.item-category{
    text-transform: uppercase;
    color: var(--Dark-grayish-blue);
    font-size: 14px;
    letter-spacing: 3px;
    margin-bottom: 5px ;
}

.item-name{
    color: var(--Very-dark-blue);
    font-family: 'Fraunces', serif;
    font-weight: 500;
}
.description{
    width: 85%;
    margin: 15px 0;
    color: var(--Dark-grayish-blue);

}

.prices-cont{
   display: flex;
   
}
.prices-updated{
    width: 70%;
    color: var(--Dark-cyan);
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Fraunces', serif;
    /* background-color: lightblue; */
    text-align: left;
}

.prices-previous{
    width: 30%;
    color: var(--Dark-grayish-blue);
    /* background-color: lightcoral; */
    text-decoration: line-through;
    text-align: center;
    align-self: center;
    
}

.btn{
    background-color: var(--Dark-cyan);
    color: var(--White);
    border: none;
    padding: 15px 10px;
   width: 100%;
   border-radius: 10px;
   margin: 20px 5px;

   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}
.btn img{
    margin-right:10px;

}

.btn:hover{
    background-color: var(--Dark-cyan-hover);
}

@media screen and (max-width : 600px) {
    .card{
        min-width: auto;
        width: 90%;
        height: 85%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .left-side{
        width: 100%;
        height: 350px;
        border-radius: 10px 10px 0 0;
    }

    .right-side{
        width: 100%;
            }

            .prices-previous{
                width: 50%;
                text-align: start;
    /* align-self: flex-start; */
            }
            .prices-updated{
                width: 50%;
            }

            
                     
            
}